body {
    background-image: url(../images/urlRadio\ background\ image.jpeg);
}

iframe {
    display: block;
    margin: 0 auto;    
}

h5 {
    padding-left: 5%;
    color: white;    
}

#musicArrayText {
    padding-left: 5%;
    color: white;
}

label {
    padding-left: 5%;
    color: white;
}